@use "sass:map";

// 间距名称
$distance-names: (micor, mini, tiny, small, middle, large, big, huge, massive);

// prettier-ignore
$variables: (
   // 盒元素 - 普通尺寸
   box-base-min-height: 34px,
   box-base-border-width: 1px,
   box-base-border-radius: 2px,
   box-base-padding-vertical: 4px,
   box-base-padding-horizontal: 10px,

   // 元素间距 - 水平方向
   distance-horizontal-micor: 1px,
   distance-horizontal-mini: 2px,
   distance-horizontal-tiny: 4px,
   distance-horizontal-small: 8px,
   distance-horizontal-middle: 12px,
   distance-horizontal-large: 16px,
   distance-horizontal-big: 24px,
   distance-horizontal-huge: 36px,
   distance-horizontal-massive: 60px,

   // 元素间距 - 垂直方向
   distance-vertical-micor: 1px,
   distance-vertical-mini: 2px,
   distance-vertical-tiny: 4px,
   distance-vertical-small: 8px,
   distance-vertical-middle: 12px,
   distance-vertical-large: 16px,
   distance-vertical-big: 24px,
   distance-vertical-huge: 36px,
   distance-vertical-massive: 60px,

   // 文字大小
   font-size-base: 14px,
   font-size-large: 16px,
   font-size-small: 12px,

   // 文字行高
   line-height-base: 24px,
   line-height-large: 28px,
   line-height-small: 20px,

   // 文字颜色
   text-color: #313336,
   text-color-quiet: #7d8790,
   placeholder-color: #a1a3a6,

   // 主色调
//    primary: hsl(200 22% 44%),
//    primary-loud: hsl(200 26% 34%),
//    primary-quiet: hsl(200 20% 50%),
//    primary-foreground: hsl(0 50% 100%),
   primary: hsl(200 72% 44%),
   primary-loud: hsl(200 86% 34%),
   primary-quiet: hsl(200 70% 50%),
   primary-foreground: hsl(0 50% 100%),

   // Components
   // -----------------------------------------------------------------------------

   // CheckBox
   checkbox-size: 16px,

   // Radio
   radio-size: 16px,
);

@function let($name) {
    @return var(--nami-#{$name}, #{map.get($variables, $name)});
}
